body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

}

#root {
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fcf9f9e0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    top: 30%;
    /* left: 80%; */
}

.ticket-card {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #464444;
    border-color: rgb(56, 55, 55); */

    display: flex;
     align-items: center;
    /* justify-content: space-between; */
    height: 30px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 0;  
    flex-direction: row;
}

.ticket:last-child {
    border-bottom: none;
}

.ticket .description {
    flex-grow: 1;
    margin-left: 10px;
}

.ticket .date {
    margin-left: auto;
}

.ticket-all {
    /* margin: auto; */
    border: none;
    margin-top: 20px;
}



.add-ticket-button {

    width: 180px;
    height: 50px;
    background-color: #fcf9f9e0;
    color: rgb(56, 55, 55);
    border-color: rgb(56, 55, 55);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    /* position: absolute; */
    /* top: 10%; */
    /* left: 80%; */
    float: right;

}

.btnAddTicket button:hover {
    background-color: #0056b3;
}

.round-button {
    /* background-color: #4caf50; */
    color: #fcf9f9e0;
    /* border: none; */
    border-color: #aaa6a6;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 70%;
    transition: background-color 0.3s;
}

.round-button:hover {
    background-color: #5e5e5e;
}

/* .check-button:hover:after {
    visibility: visible;
} */

.item {
    /* background-color: #4caf50; */
    /* color: white; */
    padding: 10px;
    margin-right: 5px;
    text-align: center;
}

.item:last-child {
    margin-right: 0;
}